<?php $_widget = $this->getWidget() ?>
<?php if($_widget->getId()): $_widget_container_id = 'ps_container'.$_widget->getId(); ?>
    <?php if($_widget->getCss()): ?>
        <link rel="stylesheet" data-photoslurp-css-id="<?php echo $_widget_container_id ?>" href="<?php echo  Mage::getBaseUrl('media').'photoslurp/'.$_widget->getWidgetId().'.css';?>">
    <?php endif; ?>
    <div style="clear:both" class="ps-container">
        <ps-widget data-config="<?php echo $_widget->getWidgetId() ?>"></ps-widget>
        <script>
            window.photoSlurpWidgetSettings = window.photoSlurpWidgetSettings || {};
            photoSlurpWidgetSettings['<?php echo $_widget->getWidgetId() ?>'] =  <?php echo $this->getJson() ?>;
        </script>
        <script src="//static.photoslurp.com/widget/v3/loader.js" async></script>
        <a href="//hi.photoslurp.com/partners/<?php echo $_widget->getUserName(); ?>?utm_source=referral&utm_medium=powered-by-photoslurp" target="_blank" class="ps-poweredby-link" title="Powered by Photoslurp" <?php if($_widget->getPageType() == 2):?>rel="nofollow"<?php endif;?>>
            <div class="ps-logo-widget-carousel"></div>
        </a>
    </div>
<?php endif; ?>